/* 
    Created on : 2014-10-26, 15.43.11
    Author     : Paulius Stasiulionis
*/
/* Main page option */
*{font-family: Calibri}

body {
    background: #f2f2f2;
}
#container {
    overflow: hidden;
    width: 100%
}
#wrapper {
    max-width: 970px;
    margin: 0 auto;
    position:relative;  
}
/* logo */
#logo {
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    height: 150px;
    width: 327px;
    margin: 16px auto 0px auto;
}

ul#lang-flags {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float:right;
}
ul#lang-flags li {
    float:left;
    margin-right: 3px;
}
/* menu  */
.menu{
    text-align: center;
    margin: 5px auto;

}
.current_page_item {
}
.current_page_item a{
    border-bottom: thin solid #30d8f0;
    color: #605d5d!important; 
}
.menu ul{
    list-style-type: none;
    margin: 0;                 
    padding: 0;                
    display: inline-block;     
    vertical-align: top;  
}
.menu ul li a{
    text-decoration: none;
    display: block;
    color: #333333;
    text-decoration: none;
    
}
.menu ul li.page_item{
    float: left;
    padding: 0 10px;
}
.menu ul li.page_item a:hover{
    text-decoration: none;
    border-bottom: thin solid #30d8f0;
    color: #605d5d;
}
/* content */
#content {
    float: left;
    width: 100%;
    min-height: 450px;
    padding-bottom: 16px;
    padding-top: 16px;
}
#footer {
    margin-top: 12px;
    text-align: center;
    font-size: small;
    font-style: italic;
    color:#333333;
}
#footer a{
    text-decoration: none;
    color:#333333;
}


